$cuetip-namespace: "tooltip" !default;
$cuetip-dashed-underline: false !default;
$cuetip-color-foreground: #fff !default;
$cuetip-color-background: #333 !default;

[data-#{$cuetip-namespace}] {
  position: relative;

  @if ($cuetip-dashed-underline) {
    text-decoration: none;
    border-bottom: .1em dashed currentColor;
  }

  // tooltip triangle
  &:before {
    content: "";
    // offset the triangle from the element
    bottom: calc(100% - .5em);
    border-width: .5em;
    border-style: solid;
    border-color: $cuetip-color-background transparent transparent transparent;
  }

  // tooltip contents
  &:after {
    content: attr(data-#{$cuetip-namespace});
    white-space: nowrap;
    background: $cuetip-color-background;
    color: $cuetip-color-foreground;
    padding: .25em;
    border-radius: 2px;
    // offset the tooltip content from the triangle
    bottom: calc(100% + .5em);
  }

  &:before,
  &:after {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  &:hover {
    cursor: help;
  }

  &:hover:after,
  &:hover:before {
    display: inline-block;
  }
}
