$cuetip-namespace: "tooltip" !default;
$cuetip-dashed-underline: false !default;
$cuetip-color-foreground: #fff !default;
$cuetip-color-background: #333 !default;
$cuetip-tail-size: .5em;

[data-#{$cuetip-namespace}] {
  position: relative;
  cursor: help;

  @if ($cuetip-dashed-underline) {
    text-decoration: none;
    border-bottom: .1em dashed $cuetip-color-background;
  }

  // Tooltip tail
  &:before {
    content: "";
    // Offset the tail from the element
    bottom: calc(100% - #{$cuetip-tail-size});
    border-width: $cuetip-tail-size;
    border-style: solid;
    border-color: $cuetip-color-background transparent transparent transparent;
  }

  // Tooltip head
  &:after {
    content: attr(data-#{$cuetip-namespace});
    white-space: nowrap;
    background: $cuetip-color-background;
    color: $cuetip-color-foreground;
    padding: .25em;
    border-radius: 2px;
    // Offset the head from the tail
    bottom: calc(100% + #{$cuetip-tail-size});
  }

  &:before,
  &:after {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  &:hover:after,
  &:hover:before {
    display: inline-block;
  }
}
